.end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b5b5b5 url("../../img/bg_eng.jpg") no-repeat center top;
    background-size: 100% auto;
  
    z-index: 9;
  }
  .end_head {
    height: 1.333333rem;
    padding-top: 1.866667rem;
    text-align: center;
    font-size: 0.266667rem;
    color: #010101;
  }
  .end_head dt {
    font-size: 0.426667rem;
    font-weight: 600;
  }
  .end_ewm img {
    width: 100%;
  }
  .end_btns {
    margin-top: 1.8rem;
  }
  .end_btns a {
    display: block;
    margin: 0 auto;
    width: 4.266667rem;
    height: 1.066667rem;
  }
  .end_btns a.end_btn_replay {
    background: url(../../img/btn2.png) no-repeat center center;
    background-size: contain;
  }
  .end_btns a.end_btn_share {
    margin-top: 0.36rem;
    background: url(../../img/btn3.png) no-repeat center center;
    background-size: contain;
  }