.in_loading {
    position: fixed;
    bottom: 1.933333rem;
    left: 50%;
    width: 7.64rem /* 573/75 */;
    font-size: 0.48rem;
    color: #e25990;
    text-align: center;
  
    transform: translateX(-50%);
  }
  .in_loading_pic{
    width:100%;
    height: .306667rem /* 23/75 */;
    overflow: hidden;
  
    background: #1a5487;
    box-shadow: inset 0 0 .066667rem /* 5/75 */ rgba(117, 227, 255, .32);
    border-radius: .133333rem /* 10/75 */;
  }
  .in_loading_pic span{
    float: left;
    width: 95%;
    height: 100%;
    background: url(../../img/bg_line.png) repeat-x left center;
    background-size: auto 100%;
  }
  .in_loading_num{
    padding-top: .2rem /* 15/75 */;
  }